<% if notification %>



    <div class="notification alert alert-warning alert-dismissible fade show m-1" role="alert">
      <button type="button" class="done-btn" data-bs-dismiss="alert" aria-label="Close">
        <%=image_tag 'close.svg', class:"icon-navbar"%>
      </button>
      <%=link_to tasks_path do%>
        <%= notification %>
      <%end%>
    </div>


<% end %>
