<div class="page-container calendar-background">
  <div class="navbar-container">

    <div class="banner">
      <div class="container">
        <h6>My calendar</h6>
      </div>
    </div>

  </div>
  <div class="content-container">

    <div class="my-content-wrapper">

      <%= month_calendar do |date| %>
        <%= date %>
      <% end %>

    </div>
  </div>
  <div class="footer-container">
    <%= render "shared/navbar" %>
  </div>
</div>
rtuetz
