<div class="page-container">
  <div class="navbar-container">

    <div class="banner">
      <div class="container">
        <h6>My helper</h6>
      </div>
    </div>


  </div>
  <div class="content-container">
    <h1>Soon I will be a helper</h1>
  </div>


  <div class="footer-container">
    <%= render "shared/navbar" %>
  </div>
</div>
