<div class="page-container">
  <div class="navbar-container"><%= render "shared/banner" %></div>
  <div class="content-container">
    <h1>Soon I will be a helper</h1>
  </div>


  <div class="footer-container">
    <%= render "shared/navbar" %>
  </div>
</div>
