<h1>Green Thumb</h1>

<p>Care for your plants effortlessly</p>

<% @plants.each do |plant| %>
  <div class="sideway-plant-card">
    <%= image_tag plant.image_url, alt: plant.nickname, style: 'max-width: 100px; max-height: 100px;' %>
    <div class="plant-info">
      <h2><%= plant.nickname %></h2>
      <p><%= "(#{plant.scientific_name})" %></p>
    </div>
  </div>
<% end %>
