<div class="radio-buttons-search">
  <h3>Here are the plants I found for '<%=@user_input%>':</h3>
  <%= simple_form_for @plant do |f| %>
    <%= f.collection_radio_buttons :id, @response_plants, :first, :second %>
    <div class = "search-submit-btn">
      <%= f.submit 'âœ”ï¸', class:'check-on-search' %>
    </div>
  <% end %>
</div>
