.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;

  position: relative;

  button {
    position: absolute;
    top: 11%;
    right: 4%;
  }
}

.notification {
  position: fixed;
  bottom: 107px;
  right: 58px;
  z-index: 1000;
  background-color: #DBE7C9;
  width: 70%;
  height: 10%;
  text-align: center;
  border-radius: 15px;
  border: 0;
  color: black;
  box-shadow: 0 0 23px rgba(39, 39, 39, 0.9);


}
