.ask-helper {

  textarea.ask-field {
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 15px;
    border-radius: 25px;
    color: #ababab;
    border: 0;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
    padding: 10px;
    width: 270px;
  }
}
