.ask-helper {

  textarea.ask-field {
    margin-right: 15px;
    border-radius: 25px;
    border: 0;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
    padding: 10px;
    width: 300px;
    font-family: "Lexend", sans-serif;
  }

  .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}

  .ask-submit-btn {
    border-radius: 50%;
    height: 55px;
    width: 55px;
    -webkit-appearance: none;
    padding: 15px;
    //background: #FBFADA;
    background: #ffffff;
    border: 0;
    box-shadow: 0 0 7px rgba(0,0,0,0.2);

    &:hover {
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    }
  }

.answer-helper {
  height: 560px;
  overflow-y: auto;
  border-radius: 25px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
  padding: 10px;
  background: #ffffff;
  margin-bottom: 20px;
  font-family: "Lexend", sans-serif;
}
