.background-search-page {
  background-color: #FFFFF4;
  padding: 5%;
  height: 87vh;

  h3 {
    text-align: center;
  }

  .cutter {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 68px;
    opacity: 0.15;

    img {
      width: 180px;
    }
  }
}
