.background-helper {
  background-color: #FFFFF4;
  padding: 5%;
  height: 87vh;
  display: flex;

  h3 {
    text-align: center;
  }
}

.plant {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.15;

  img {
    width: 180px;
  }
}
