.background-search-page {
  background-color: #FFFFF4;
  padding: 5%;
  height: 87vh;

  h3 {
    text-align: center;
  }

  .cutter {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 92px;
    opacity: 0.15;

    img {
      width: 180px;
    }
  }
}

#no-plants-search {
  color: #d6d6d6;
  text-align: center;
  margin-top: 48px;
  font-size: 20px;
  font-family:"Lexend", sans-serif;
  text-shadow: none;
}
