.background-landingpage {
  border-radius: 5px;
  background-color: #FFFFF4;
  padding: 5%;
  //padding-bottom: 20%;
  position: relative;
  height: 87vh;

  .center {
    text-align: center;
  }

  h3 {
    margin-left: 11px;
    font-size: 25px;
  }

  .pot {
    display: flex;
    align-items: center;
    margin-top: 153px;
    opacity: 0.15;
    width: 137px;
  }
}
