.banner {
  background-size: cover;
  background-position: center;
  padding: 10px 0;
  background-color: #FFFFF4;


  h1 {
    margin: 0;
    color: black;
    //text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 37px;
    font-weight: bold;
    text-align: center;
  }
}
