.calendar-big-box {
  background-color: #FFFFF4;
  font-family: "Lexend", sans-serif;

  .my-content-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 12.6px;
  }
}

.calendar-heading {
  color: black;
  text-align: center;
  padding: 0;


  a {
    text-decoration: none;
    color: black;
    line-height: 0;


    &:hover {
      text-decoration: none;
    }
  }

  span {
    font-size: 26px;
    margin: 0 17px;
  }
}

.table {
  border: 2px solid #dee2e6 !important;
  margin-top: 15.6px;


  th {
    background-color: #FFFFF4;
    border: 2px solid #dee2e6 !important;
    border-radius: 25px;
  }

  tbody {

    td {
      border: 2px solid #dee2e6 !important;
      //width: 14.285%;
    }

    td.prev-month, td.next-month {
      background-color: #dbf3d4;

    }

    td.current-month {
      background-color: #f7f7e0;
    }

    td.today {
      background-color: #89b47d;
      font-weight: bold;
    }
  }
}

.simple-calendar {
  border-bottom: 1px solid #ccc;
  padding-bottom: 6px;
  margin-left: 26px;
  margin-right: 26px;

  .day {
    height: 73px !important;

  }

  td {
    width: calc(100/7) !important;
    max-width: 14.285%;
    min-width: 14.285%;
  }

  th {
    max-width: 14.285%;
    min-width: 14.285%;

  }
}

.table thead {
  th {
    padding: 7px;
    text-align: center;
  }
}


.tasks-wrapper-calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  background-color: #FFFFF4;
  padding-top: 20px;
  padding-right: 20.6px;
  padding-left: 20.6px;
  padding-bottom: 61px;
  //padding-top: 9px;
  //padding-bottom: 61px;

  p {
    color: #ababab;
  }


  h3 {
    margin-bottom: 20px;
    font-size: 25px;
    text-align: left;
  }
}

.fa-leaf {
  &:hover {
    cursor: pointer;
  }
}

#no-tasks-calendar {
  color:#d6d6d6;
  text-align: center;
  margin-top: 28px;
  font-size: 20px;
  font-family:"Lexend", sans-serif;
  font-weight: normal;
  padding: 0 10px;
}
