.done-btn {
  border-radius: 50%;
  background: #ffffff;
  border: 0;
  box-shadow: 0 0 7px rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 30px;
  width: 30px;
  align-items: center;

  img {
    width: 20px;
  }
}
