.navbar {
  justify-content: center;
  background: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  margin-top: 10px;
}

.container-navbar {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
