.navbar {
  justify-content: center;
  align-items: center;
  display: flex;
  background: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1000;

  height: 61px;
  border-top: 1px solid #F1F1F1; /* Thin grey top border */
}

.container-navbar {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
