.details-card{
  img {
    height: 30vh;
    width: 100vw;
    object-fit: cover;
  }
  .text_gray{
    color: #888888;
  }
  .details-infos{
    padding-top: 15px;
  }
  .text_black{
    color: black;
  }
}
