.details-card{
  //position: relative;
  height: 100vh;
  background-color: white;

  .image-and-delete-container {
    position: relative;
    display: inline-block;

    .delete-btn {
      top: 15%;
      left: 85%;
      border-radius: 50%;
      background: #ffffff;
      border: 0;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
      display: flex;
      justify-content: center;
      text-decoration: none;
      height: 65px;
      width: 65px;
      align-items: center;
      position: absolute;
      z-index: 1;
      transform: translate(-50%, -50%);

      img {
        width: 36px;
      }

      &:hover {
        box-shadow: 0 0 20px 5px rgba(0,0,0,0.4);
      }

    }
  }

  p {
    margin-bottom: 8px;
  }

  .plant-image {
    height: 39vh;
    //width: 100%;
    width: 46vh;
    object-fit: cover;
    display: block;
    position: relative;
  }

  .text_gray{
    color: #7e7d7d;
  }

  .details-infos{
    font-family: "Lexend", sans-serif;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 7%;
    padding-bottom: 15%;
    position: absolute;
    width: 100%;
    top: 33%;
    //z-index: 1;
    background-color: white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;

    .push {

    }

    h1 {
      font-size: 34px;
      display: flex;
      align-items: center;

      img {
        margin-left: 14px;
      }
    }

    .name {
      margin-bottom: 0px;
      display: flex;
    }

    .suggested {
      margin-bottom: 14px;
      margin-top: 15px;

      i {
        width: 30px;
      }

      .icon-text {
        display: flex;
        align-items: center;
      }
    }

    .currently {
      margin-bottom: 5px;

      i {
        width: 30px;
      }

        .sun {
          h3 {
            font-size: 21px;
          }
        }
    }

    h3 {
      font-size: 19px;

    }

    .buttons-bottom {
      display: flex;
      justify-content: center;
      margin-top: 25px;
      margin-bottom: 20px;

      .edit-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 65px;
        width: 65px;
        border-radius: 50%;
        background: #ffffff;
        border: 0;
        box-shadow: 0 0 7px rgba(0,0,0,0.2);
        text-decoration: none;

        img {
          width: 36px;
        }

        &:hover {
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
        }
      }

    }
  }

  .text_black{
    color: black;
  }
}
