.radio-buttons-search {
  display: flex;
  justify-content: center;
  display: block;

  input[type="radio"] {
    visibility: hidden;
    height: 100%;
  }

  .span-class {
    display: block;
    //overflow: hidden;
    height: 120px;
    background: #50623A;
    box-shadow: 0 0 7px rgba(0,0,0,0.2);
    border-radius: 25px;
    display: flex;
    align-items: center;
    margin-left: 24%;
    margin-right: 24%;
    margin-bottom:22px;

      &:hover {
        font-weight: bold;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
      }

    label {
      width: 100%;
      height: 100%;
      display: flex; /* Use flexbox */
      align-items: center;

      &:hover {
        cursor: pointer;
      }
    }

    input[type="radio"]:checked + label {
      font-weight: bold;
    }
  }

  h3 {
    text-align: center;
  }

  .search-submit-btn {
    text-align: center;

    input {
      border-radius: 50%;
      height: 65px;
      width: 65px;
      background: #FBFADA;
      border: 0;
      box-shadow: 0 0 7px rgba(0,0,0,0.2);
    }
  }
}
