.login-container {
  padding: 10%;
  background-color: #FFFFF4;
  height: 100vh;
 .form-inputs{
  .form-control{
    border-radius: 25px;
  }
 }
}

.signup-container {
  padding: 10%;
  background-color: #FFFFF4;
  height: 100vh;
 .form-inputs{
  .form-control{
    border-radius: 25px;
  }
 }
}

.password-container {
  padding: 10%;
  background-color: #FFFFF4;
  height: 100vh;
 .form-inputs{
  .form-control{
    border-radius: 25px;
  }
 }
}

.btn.login-button, a.login-button {
  width: 100%;
  background-color: #294B29;
  color: #ffffff;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}


.button-container {
  padding: 8%;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 263px;
}

.landing-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  color: white;
  height: 54px;
  padding-bottom: 7px;
  border-radius: 25px;
  background: #294B29;
  //background: rgba(41, 75, 41, 0.8);
  font-size: 30px;
  box-shadow: 0 0 7px rgba(0,0,0,0.2);
}

.landing-button:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  text-decoration: none;
  color: white;
}
