.login-container {
  padding: 10%;
  background-color: #FFFFF4;
  height: 100vh;
 .form-inputs{
  .form-control{
    border-radius: 25px;
  }
 }
}

.signup-container {
  padding: 10%;
  background-color: #FFFFF4;
  height: 100vh;
 .form-inputs{
  .form-control{
    border-radius: 25px;
  }
 }
}

.password-container {
  padding: 10%;
  background-color: #FFFFF4;
  height: 100vh;
 .form-inputs{
  .form-control{
    border-radius: 25px;
  }
 }
}



