.home-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 24.6px;
  padding-bottom: 61px;
}

.sideway-plant-card {
  overflow: hidden;
  height: 91px;
  position: relative;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  display: flex;
  align-items: center;
  margin-bottom: 13px;
  width: 356px;

  &:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);

    .plant-info h2, p {
      //font-weight: bolder;
    }
  }

  .plant-info {
    background: #50623A;
    border-radius: 25px;
    padding: 16px;
    width: 72%;
    text-align: left;
    position: absolute;
    top: 0%;
    left: 28%;
    z-index: 1;
    height: 100%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  img {
    display: block;
    height: 100%;
    width: 34%;
    object-fit: cover;
  }
}

.sideway-plant-card h2 {
  font-size: 20px;
  //font-weight: bold;
  margin: 0;
  color: white;
  text-decoration: none;
}

.sideway-plant-card p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  color: white;
  text-decoration: none;

  .opacity {
    opacity: .4;
  }
}

#no-plants {
  color: #ababab;
  text-align: center;
  margin-top: 48px;
  font-size: 20px;
}
