.task-card {
  display: flex;
  align-items: center;
  color: white;
  height: 56px;
  width: 356px;
  border-radius: 25px;
  padding: 10px;
}

.green-task-card {
  background: #294B29;
}

.grey-task-card {
  background: #ababab;;
}

.plant-task-name {
  display: flex;
  justify-content: center;

  i {
    line-height: 28px;
  }

  img {
    width: 25px;
  }

  h5 {
    margin: 0;
    margin-right: 15px;
    line-height: unset;
  }
}

.wrapper-task {
  display: flex;
  justify-content: space-between;
  width: 98%;
}
