.tasks-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  height: 100vh;
  background-color: #FFFFF4;
  padding-top: 20px;

  h3 {
    margin-bottom: 20px;
  }
}
